@page "/"

<PageTitle>Home</PageTitle>

<h1>MAD SKILLZ123</h1>

Welcome to your new app.

@* @{
    var amount = 1+1;
} *@
<Counter />
@* <Counter IncrementAmount="amount" /> *@

<Weather />
